
//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;

//Color
$heading-clr: #1a3353;
$text-clr: #72849a;

$border: #eef0f8;
$light: #fbfcff;
$light-bg: #F7F7FF;

$white: #fff;
$black: #000;
$dark: #181c32;

$primary: #3699FF;
$secondary: #e4e6ef;
$success: #1BC5BD;
$warning: #ffa800;
$info: #8950FC;
$danger: #F64E60;


// $primary: #212F52;
// $secondary: #158df7;
$alpha: #67D1E0;
$beta: #F4AD3D;
$gamma:#904C6F;
// $delta:#1BC5BD;
// $epsilon: #F64E60;
// $zeta: #ff9f43;
// $eta: #09c2de;
// $theta: #fbf6fd;
// $lota: #c2f0ff;
// $kappa: #ebf1ff;
// $lambda: #ff9f43;

// Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$in: #0077b5;
$be: #1769ff;
$ins: #f56040;


