.form-input {
    padding: .75rem 1rem;
    color: $text-clr;
    background-color: $border;
    border: none;
    border-left: 4px solid $primary;
    border-radius: 0;
    &:focus {
        box-shadow: none;
        background: lighten($border, 1%);
        border-color: $primary;
    }
    &::placeholder {
        color: $text-clr;
        text-transform: capitalize;
    }
}